#imagem-topo{
    background-color:#00BFFF ;
    text-align: center;
}
p{
   padding: 20px;
   text-align: justify;
   font-family: arial;
   font-size: 18px;
}
h1, h2{
    font-family: arial;
    text-align: center;
    color: 	#00008B;
}
h3{
    font-family: Arial;
}
footer{
    background-color:#00BFFF ;
    text-align: center;
}
img{
   width: 50%;
   height: 50%; 
}
.contato{
font-size: 0.90em;
}
.cliente{
    text-align: center;
    color: 	#00008B;
    font-family: arial;
}